node_modules
vendor
.git
.gitignore
.env
.env.local
.env.*.local
.editorconfig
.DS_Store
Thumbs.db
node_modules
npm-debug.log
*.log
.cache
.pytest_cache
.vscode
.idea
build
dist
.next
out
.nuxt
dist
bun.lockb
